*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}